<CloudAlphaConfig>
    <services>
        <globalSettings>
            <service name="dropbox">
            </service>
        </globalSettings>
        <instances>
            <accountInstance uniqueID="dropbox1" service="dropbox"/>        
        </instances>
    </services>
    <managers>
        <globalSettings>
            <manager name="ftp">
                <setting name="ftp_server_port">2121</setting>
            </manager>
        </globalSettings>
        <instances>
            <managerInstance uniqueID="ftp-dropbox1" type="ftp" account="dropbox1">
                <parameter name="ftp_username">user</parameter>
                <parameter name="ftp_password">12345</parameter>
            </managerInstance>          
        </instances> 
    </managers>
</CloudAlphaConfig>